body {
	padding-top: 40px; /* Het laten zien van de topbar */
	background-color: rgb(160, 128, 182);
}

.navbar {
	background-color: black;
}

.pagina {
	background-color: white;
	width: 1000px;
}

.tekst {
	margin-left: 1px;
}