body {
	padding-top: 40px; /* Het laten zien van de topbar */
	background-color: rgb(160, 128, 182);
}

.navbar {
	background-color: black;
}

.navbar-inner > .container { width:940px; }

.pagina {
	background-color: white;
	width: 1000px;
}

.tekst {
	margin-left: 1px;
}

.postit {
	position:relative;
    float:left;
}

.postit .spelnaam {
	position:absolute;
	text-align:center;
	color: black; 
	left: 30px;
	right: 20px;
    top: 80px;
    width: 150px;
}

.breadcrumb {
	background-color: white;
}

.kluis {
	background: url(/images/kluis.png);
	background-size: 600px;
	background-repeat: no-repeat;	
}