# De database config buiten beschouwing laten
application/config/database.php

# De site specifieke config buiten beschouwing laten
application/config/config.php

# PDF's welke in de cache zitten mogen niet meegenomen worden.
pdf/*.pdf